.vscode
build
logs
out
node_modules
nginx
.dockerignore
.git
.next
gql
.env.dev
.env.sample
.gitignore
Dockerfile
docker-compose.yml
docker-compose.dev.yml
feature-and-issue.md
next-env.d.ts
README.md
videos.txt