services:
  nextjs:
    image: ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/${IMAGE_NAME}:${IMAGE_VERSION}
    container_name: twitch-nextjs
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    healthcheck:
      test: ['CMD', 'wget', '--quiet', '--tries=1', '--spider', "http://127.0.0.1:3000/api/health"]
      interval: 15s
      timeout: 5s
      retries: 3
      start_period: 30s
    volumes:
      - ./logs/:/app/logs/:rw
    restart: unless-stopped